<span style='color: #000'>55 frames</span>	<span style='color: #900'>4,096 KB</span>	<span style='color: #090'>1,625.79 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  The each() function is deprecated. This message will be suppressed on further calls</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 784</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\style.cls.php<br />
			Line: 784<br />
			Function: each			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\style.cls.php<br />
			Line: 718<br />
			Function: get_font_family			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 165<br />
			Function: __get			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 333<br />
			Function: _layout_line			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_reflower.cls.php<br />
			Line: 164<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 559<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 479<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\cellmap.cls.php<br />
			Line: 363<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 509<br />
			Function: add_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\inline_positioner.cls.php<br />
			Line: 60<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 546<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 331<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\inline_frame_reflower.cls.php<br />
			Line: 64<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 86<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 374</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 374<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\inline_positioner.cls.php<br />
			Line: 60<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 546<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_decorator.cls.php<br />
			Line: 189<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_frame_reflower.cls.php<br />
			Line: 336<br />
			Function: add_frame_to_line			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\inline_frame_reflower.cls.php<br />
			Line: 64<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 86<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php<br />
			Line: 65<br />
			Function: render			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: D:\wamp64\www\apps-purchasing\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div><br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\text_renderer.cls.php on line <i>123</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0003</td><td bgcolor='#eeeeec' align='right'>366744</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='D:\wamp64\www\apps-purchasing\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0008</td><td bgcolor='#eeeeec' align='right'>368800</td><td bgcolor='#eeeeec'>require_once( <font color='#00bb00'>'D:\wamp64\www\apps-purchasing\system\core\CodeIgniter.php'</font> )</td><td title='D:\wamp64\www\apps-purchasing\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>315</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.0437</td><td bgcolor='#eeeeec' align='right'>579016</td><td bgcolor='#eeeeec'>Laporan->cetak_laporan_ijin_masuk(  )</td><td title='D:\wamp64\www\apps-purchasing\system\core\CodeIgniter.php' bgcolor='#eeeeec'>...\CodeIgniter.php<b>:</b>532</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>4</td><td bgcolor='#eeeeec' align='center'>0.3690</td><td bgcolor='#eeeeec' align='right'>603472</td><td bgcolor='#eeeeec'>Pdf->render(  )</td><td title='D:\wamp64\www\apps-purchasing\application\controllers\Laporan.php' bgcolor='#eeeeec'>...\Laporan.php<b>:</b>65</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>5</td><td bgcolor='#eeeeec' align='center'>1.5806</td><td bgcolor='#eeeeec' align='right'>1544216</td><td bgcolor='#eeeeec'>Page_Frame_Decorator->reflow(  )</td><td title='D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\dompdf.cls.php' bgcolor='#eeeeec'>...\dompdf.cls.php<b>:</b>817</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>6</td><td bgcolor='#eeeeec' align='center'>1.5807</td><td bgcolor='#eeeeec' align='right'>1609752</td><td bgcolor='#eeeeec'>Page_Frame_Reflower->reflow(  )</td><td title='D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\frame_decorator.cls.php' bgcolor='#eeeeec'>...\frame_decorator.cls.php<b>:</b>556</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>7</td><td bgcolor='#eeeeec' align='center'>1.8775</td><td bgcolor='#eeeeec' align='right'>1971256</td><td bgcolor='#eeeeec'>Renderer->render(  )</td><td title='D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\page_frame_reflower.cls.php' bgcolor='#eeeeec'>...\page_frame_reflower.cls.php<b>:</b>147</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>8</td><td bgcolor='#eeeeec' align='center'>1.8921</td><td bgcolor='#eeeeec' align='right'>1976192</td><td bgcolor='#eeeeec'>Renderer->render(  )</td><td title='D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\renderer.cls.php' bgcolor='#eeeeec'>...\renderer.cls.php<b>:</b>185</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>9</td><td bgcolor='#eeeeec' align='center'>1.8921</td><td bgcolor='#eeeeec' align='right'>1976192</td><td bgcolor='#eeeeec'>Renderer->_render_frame(  )</td><td title='D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\renderer.cls.php' bgcolor='#eeeeec'>...\renderer.cls.php<b>:</b>111</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>10</td><td bgcolor='#eeeeec' align='center'>1.8921</td><td bgcolor='#eeeeec' align='right'>1976192</td><td bgcolor='#eeeeec'><a href='http://www.php.net/function.spl-autoload-call' target='_new'>spl_autoload_call</a>
(  )</td><td title='D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\renderer.cls.php' bgcolor='#eeeeec'>...\renderer.cls.php<b>:</b>253</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>11</td><td bgcolor='#eeeeec' align='center'>1.8921</td><td bgcolor='#eeeeec' align='right'>1976232</td><td bgcolor='#eeeeec'>DOMPDF_autoload(  )</td><td title='D:\wamp64\www\apps-purchasing\application\libraries\dompdf\include\renderer.cls.php' bgcolor='#eeeeec'>...\renderer.cls.php<b>:</b>253</td></tr>
</table></font>
